.App {
  text-align: center;
}

::-webkit-scrollbar {
  width: 8px;
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #60615e;
  border-radius: 15px;
}

::-webkit-scrollbar-track {
  background: #FFF6F4;
}